.tarjetas {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    width: 1200px;
}

.productos__pretitulo {
    text-align: center;
    color: var(--secondary-color);

    position: absolute;
    width: 394px;
    height: 66px;
    left: 403px;
    top: 725px;

    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 34px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
}

.productos__titulo {
    text-align: center;
    color: var(--main-color);

    position: absolute;
    width: 394px;
    height: 66px;
    left: 403px;
    top: 775px;

    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 58px;
    line-height: 66px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

//fresa//
.productos__fresa {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: absolute;
    width: 368px;
    height: 535px;
    left: 16px;
    top: 1122px;

    color: var(--white-color);
    background-color: #FFB8CA;
    border-radius: 24px;
}

.productos__fresaimg {
    position: absolute;
    margin: 0px;
    left: 0px;
    top: -250px;

    width: 368px;
    height: 394px;

}

.productos__fresattl {
    font-family: 'Titan One';
    font-weight: 400;
    font-size: 30px;
    font-style: normal;
    letter-spacing: 0.06em;
    position: relative;
    left: 100px;

}

.productos__fresatex {
    left: 48px;
    top: 50px;
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 16px;
    font-style: normal;
    line-height: 28.16px;
    letter-spacing: 4%;
    position: relative;
    left: 10px;
    margin: 10px 20px 10px;
}

.productos__icon {
    width: 24.84px;
    height: 6px;
    position: relative;
    top: 10px;
    left: 130px;
    fill: var(--white-color);

}

.productos__fecha {
    display: flex;
    position: relative;
    top: 100px;
    left: 160px;
}

//avena//
.productos__avena {
    display: flex;
    align-items: center;

    position: absolute;
    width: 368px;
    height: 535px;
    left: 416px;
    top: 1122px;
    border-radius: 24px;
    color: var(--white-color);

    justify-content: center;
    background-color: #F0D1A5;
}

.productos__avenaimg {
    position: absolute;
    width: 368px;
    height: 394px;
    left: 0px;
    top: -250px;
}

.productos__avenattl {
    font-family: 'Titan One';
    font-weight: 400;
    font-size: 30px;
    font-style: normal;
    letter-spacing: 0.06em;
    position: relative;
    left: 100px;
}

.productos__avenatex {
    left: 48px;
    top: 50px;
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 16px;
    font-style: normal;
    line-height: 28.16px;
    letter-spacing: 4%;
    position: relative;
    left: 10px;
    margin: 10px 20px 10px;
}

//malteada//
.productos__malteada {
    display: flex;
    align-items: center;

    position: absolute;
    width: 368px;
    height: 535px;
    left: 816px;
    top: 1122px;
    border-radius: 24px;
    color: var(--white-color);

    justify-content: center;
    background-color: #C2E297;
}

.productos__malteadaimg {
    position: absolute;
    width: 368px;
    height: 394px;
    left: 0px;
    top: -250px;
}

.productos__malteadattl {
    font-family: 'Titan One';
    font-weight: 400;
    font-size: 30px;
    font-style: normal;
    letter-spacing: 0.06em;
    position: relative;
    left: 80px;
    top: 15px;
}

.productos__malteadatex {
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 16px;
    font-style: normal;
    line-height: 28.16px;
    letter-spacing: 4%;
    position: relative;
    left: 10px;
    top: 58px;
    margin: 10px 20px 10px;
}

.productos__icons {
    width: 24.84px;
    height: 6px;
    position: relative;
    top: 25px;
    left: 130px;
    fill: var(--white-color);
}





