.testimonials {
  width: 1200px;
  margin: 0 auto;
  &-img {
    margin: 80px;
    display: flex;
    justify-content: center;
  }

  &-paragraph__group {
    display: flex;
    justify-content: center;
  }

  &-paragraph {
    color: #000000;
    font-family: DM Sans;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.04em;
    text-align: center;
    width: 750px;
    height: 52px;
  }

  &-icon {
    position: relative;
    width: 54px;
    height: 40px;
  }

  &-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    fill: #c7133e;
    gap: 10px;
  }
  &-name {
    padding: 30px;
    justify-content: center;
    gap: 5px;
    font-family: DM Sans;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
  }
  &-svg {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: #d9d9d9;
    gap: 10px;
  }
  &-svg__current {
    display: flex;
    justify-content: center;
    align-items: center;
    fill: #c7133e;
    gap: 10px;
  }
}

// Media query 768 tablets----------------------------

@media (max-width: 768px) {
  .testimonials {
    width: 768px;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;

    &-group {
      display: flexbox;
      align-items: center;
      justify-content: center;
      align-content: center;
      padding-top: 50px;
    }

    &-name {
      flex-wrap: wrap;
      margin: 0 auto;
    }

    &-paragraph {
      font-size: 14px;
      width: 492px;
    }
  }
}

// Media query 320 mobile----------------------------

@media (max-width: 320px) {
  .testimonials {
    width: 320px;
    margin: 0 auto;
    flex-wrap: wrap;
    width: 100%;

    &-img {
      margin: unset;
      display: unset;
      position: absolute;
      margin: 50px;
    }

    &-name {
      font-size: 14px;
      line-height: 20px;
      padding: 15px;
      gap: unset;
    }

    &-paragraph__group {
      position: absolute;
      margin-left: 20px;
      margin-top: 200px;
    }

    &-paragraph {
      font-size: 12px;
      width: 157px;
      line-height: 20px;
      letter-spacing: 0.01em;
      text-align: center;
      height: unset;
    }

    &-icon {
      position: absolute;
      margin-right: 100px;
      margin-top: -20px;
    }

    &-group {
      display: flexbox;
      align-items: center;
      justify-content: center;
      align-content: center;
      padding-top: 400px;
      width: 172px;
    }
  }
}
