:root {
  // Colores
  --main-color: #D41443;
  --secondary-color: #FFB8CA;
  --tertiary-color: #E17992;
  --grey-text-color: #907E82;
  --white-color: #ffffff;
  --black-color: #000000;
  --button-hover-color: #ECEBEB;

  // fuente de los titulos
  --title-font: 'Titan One', cursive;

  // Tamaño de fuentes
  --title-font-size: 58px;
  --subtitle-font-size: 30px;
  --paragraph-font-size: 14px;
}
// colores de la seccion about - how it is made
$main-color: #d41443;
$secondary-color: #ffb8ca;
$gray-text-color: #907e82;
$white-color: #ffffff;
$black-color: #000000;
$button-hover-color: #ecebeb;
$background-color: #fff5f6;

//fuente de los titulos
$title-font: 'Titan One', cursive;

// Tamaño de fuentes
$title-font-size: 58px;
$subtitle-font-size: 30px;
$paragraph-font-size: 14px;